
/* Se utiliza para la página de home */
@mixin mainGrid($width) {
    display: grid;
    grid-template-columns: 0.25fr auto 0.25fr;
    grid-template-rows: 10% auto 12%;
    grid-template-areas: 
    ". header ."
    "main main main"
    " .  pie .";
    width: $width;
    height: auto;
    margin: 0px auto;
    row-gap: 7px;
}

/* Se utiliza para la página de bollería */

@mixin subGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto-fit;
    grid-template-areas: 
    "header"
    "main"
    "pie";
    min-width: 600px;
}

/* Se utiliza para la página de panadería */

@mixin gridPanes {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header header"
    "main txt"
    "pie pie";
    width: 100%;
    height: auto;
}