
/*:::::::COLORES::::::*/
$background_web: #E0E094;
$background: #F6B93B;
$orange: #F67E3B;
$blue: #71C6D9;

/*:::::::SOMBRAS:::::::*/
$shadow_content: 2px 10px 50px rgb(25, 25, 25);
$shadow_text: 0 -2.5px #fff, -1px 2px #faf9f1;
$shadow_img: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
$shadow_img_2: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
$shadow_contact:  1px 1px 7px 1px #000000;
$shadow_txt_box: 0px 5px 8px 2px rgba(0,0,0,0.68);