@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Itim&display=swap");
/* Se utiliza para la página de home */
/* Se utiliza para la página de bollería */
/* Se utiliza para la página de panadería */
/*:::::::COLORES::::::*/
/*:::::::SOMBRAS:::::::*/
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Itim";
  list-style: none;
}
* a {
  text-decoration: none;
  color: black;
}
* a:visited {
  color: black;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  background-color: #E0E094;
}

/* :::::::::PAGINA DE INDEX::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
.main_contenedor {
  display: grid;
  grid-template-columns: 0.25fr auto 0.25fr;
  grid-template-rows: 10% auto 12%;
  grid-template-areas: ". header ." "main main main" " .  pie .";
  width: 80%;
  height: auto;
  margin: 0px auto;
  row-gap: 7px;
}

.main_head {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
  background-color: #F6B93B;
  margin: 0px 0px;
  height: fit-content;
  position: static;
  top: 0;
}
.main_head h1 {
  padding-bottom: 10px;
  font-size: 3rem;
  text-shadow: 0 -2.5px #fff, -1px 2px #faf9f1;
  text-align: center;
}
.main_head .social {
  margin: 0px 5px;
}
.main_head .social img {
  max-width: 22px;
}
.main_head .logo img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 80px;
}
.main_head .idioma img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 60px;
  margin: auto 10px;
  transition: 0.25s ease-in-out;
}
.main_head .idioma:hover img {
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
}
.main_head .btn {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #F67E3B;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 7px;
  transition: 0.25s ease-in-out;
}
.main_head .btn:hover {
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
}

.main_pie {
  grid-area: pie;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  background-color: #F6B93B;
  border: 3px solid black;
  border-top: none;
}
.main_pie .btn {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #71C6D9;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0px 7px;
  transform: rotate(-15deg);
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
  transition: 0.45s ease-in;
}
.main_pie .btn:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
}
.main_pie .pie_terms {
  display: flex;
  flex-wrap: wrap;
  min-width: 620px;
}
.main_pie .pie_terms a {
  border-bottom: 3px solid black;
  transition: 0.4s ease-in-out;
}
.main_pie .pie_terms div:last-child a {
  border-right: 3px solid black;
  border-top-right-radius: 10px;
}
.main_pie .pie_terms div:first-child a {
  border-left: 3px solid black;
  border-top-left-radius: 10px;
}
.main_pie .pie_terms div :hover {
  background-color: #71C6D9;
  border-bottom-color: red;
}
.main_pie .contacto {
  padding: 6px;
  margin: 10px 10px;
  background-color: #71C6D9;
  border-radius: 15px;
  font-weight: 1100px;
  box-shadow: 1px 1px 7px 1px #000000;
  border: 2px solid black;
  transition: 0.35s ease-in;
  font-size: 1.2rem;
}
.main_pie .contacto:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid white;
  background-color: black;
  color: #71C6D9;
}
.main_pie a {
  font-size: 1.2rem;
  background-color: #F67E3B;
  padding: 5px;
}

.main_content {
  grid-area: main;
  background-color: rgb(19, 18, 18);
  border-radius: 15px;
  box-shadow: 2px 10px 50px rgb(25, 25, 25);
  height: fit-content;
}

/* :::::::::::::PAGINA DE BOLLERIA:::::::::::::::::::::::::::::::::::::::::::::::::: */
.bollos_contenedor {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto-fit;
  grid-template-areas: "header" "main" "pie";
  min-width: 600px;
}

.bollos_head {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
  background-color: #F6B93B;
  margin: 7px 0px;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 9999;
  margin-top: 0px;
  scroll-snap-align: start;
}
.bollos_head h1 {
  padding-bottom: 10px;
  font-size: 3rem;
  text-shadow: 0 -2.5px #fff, -1px 2px #faf9f1;
  text-align: center;
}
.bollos_head .social {
  margin: 0px 5px;
}
.bollos_head .social img {
  max-width: 22px;
}
.bollos_head .logo img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 80px;
}
.bollos_head .idioma img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 60px;
  margin: auto 10px;
  transition: 0.25s ease-in-out;
}
.bollos_head .idioma:hover img {
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
}
.bollos_head .btn {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #F67E3B;
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0px 7px;
  transition: 0.25s ease-in-out;
}
.bollos_head .btn:hover {
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
}
.bollos_head h1 {
  font-size: 4rem;
}
.bollos_head .social {
  display: flex;
  justify-content: space-evenly;
}
.bollos_head .social li {
  margin: 0px 10px;
}
.bollos_head .social li img {
  border: 1px solid black;
  border-radius: 50%;
  max-width: 45px;
  border: 2px solid black;
  transition: 0.33s ease-out;
}
.bollos_head .social li img:hover:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid blue;
  background-color: none;
  color: none;
}

.bollos_content {
  grid-area: main;
}
.bollos_content .bollos_presentacion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  height: 88vh;
  width: 96vw;
  scroll-snap-align: end;
}
.bollos_content .bollos_presentacion .bollos_presentacion_img {
  border: 3px solid black;
  border-radius: 15px;
  background-color: black;
}
.bollos_content .bollos_presentacion .bollos_presentacion_img img {
  border-radius: 15px;
}
.bollos_content .bollos_presentacion .bollos_presentacion_txt {
  font-size: 22px;
  padding: 12px;
  max-width: 460px;
  min-width: 240px;
  min-height: 300px;
  background-color: #F67E3B;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.68);
  margin-top: 180px;
}
.bollos_content .bollos_presentacion .bollos_presentacion_txt h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
}

.bollos_pie {
  scroll-snap-align: end;
  grid-area: pie;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  background-color: #F6B93B;
  border: 3px solid black;
  border-top: none;
  position: sticky;
  bottom: 0;
}
.bollos_pie .btn {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #71C6D9;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0px 7px;
  transform: rotate(-15deg);
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
  transition: 0.45s ease-in;
}
.bollos_pie .btn:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
}
.bollos_pie .pie_terms {
  display: flex;
  flex-wrap: wrap;
  min-width: 620px;
}
.bollos_pie .pie_terms a {
  border-bottom: 3px solid black;
  transition: 0.4s ease-in-out;
}
.bollos_pie .pie_terms div:last-child a {
  border-right: 3px solid black;
  border-top-right-radius: 10px;
}
.bollos_pie .pie_terms div:first-child a {
  border-left: 3px solid black;
  border-top-left-radius: 10px;
}
.bollos_pie .pie_terms div :hover {
  background-color: #71C6D9;
  border-bottom-color: red;
}
.bollos_pie .contacto {
  padding: 6px;
  margin: 10px 10px;
  background-color: #71C6D9;
  border-radius: 15px;
  font-weight: 1100px;
  box-shadow: 1px 1px 7px 1px #000000;
  border: 2px solid black;
  transition: 0.35s ease-in;
  font-size: 1.4rem;
}
.bollos_pie .contacto:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid white;
  background-color: black;
  color: #71C6D9;
}
.bollos_pie a {
  font-size: 1.4rem;
  background-color: #F67E3B;
  padding: 5px;
}
.bollos_pie #btnEncuentranos {
  margin-bottom: 20px;
}

/* :::::::::::::PAGINA DE PANADERIA::::::::::::::::::::::::::::::::::::::::::::::::: */
.panes_contenedor {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header" "main txt" "pie pie";
  width: 100%;
  height: auto;
}

.panes_content {
  grid-area: main;
  background-color: none;
}
.panes_content .panes_presentacion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 86vh;
  width: 65vw;
  scroll-snap-align: end;
}
.panes_content .panes_presentacion .panes_presentacion_img {
  width: auto;
}
.panes_content .panes_presentacion .panes_presentacion_img img {
  border: 3px solid black;
  max-width: 250px;
  max-height: 400px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  transform: rotateY(40deg);
  transform: rotateZ(40deg);
}
.panes_content .panes_presentacion .panes_presentacion_img .pan_especial {
  max-width: 320px;
  max-height: 400px;
}
.panes_content .panes_presentacion .panes_presentacion_img img:hover {
  max-width: 320px;
  max-height: 740px;
  transform: rotateY(0deg);
}
.panes_content .panes_presentacion .panes_presentacion_img .pan_especial:hover {
  max-width: 420px;
}
.panes_content .panes_presentacion h1 {
  font-size: 3rem;
  text-align: center;
  margin: 4rem;
}

.panes_txt {
  grid-area: txt;
  position: sticky;
  top: 32%;
  left: 0;
  font-size: 22px;
  padding: 12px;
  max-width: 460px;
  min-width: 240px;
  max-height: 310px;
  background-color: #F67E3B;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.68);
}
.panes_txt h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 35px;
}

.panes_pie {
  grid-area: pie;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  background-color: #F6B93B;
  border: 3px solid black;
  border-top: none;
  position: sticky;
  bottom: 0;
}
.panes_pie .btn {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #71C6D9;
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0px 7px;
  transform: rotate(-15deg);
  box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
  transition: 0.45s ease-in;
}
.panes_pie .btn:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid #fff;
  background-color: black;
  color: #fff;
}
.panes_pie .pie_terms {
  display: flex;
  flex-wrap: wrap;
  min-width: 620px;
}
.panes_pie .pie_terms a {
  border-bottom: 3px solid black;
  transition: 0.4s ease-in-out;
}
.panes_pie .pie_terms div:last-child a {
  border-right: 3px solid black;
  border-top-right-radius: 10px;
}
.panes_pie .pie_terms div:first-child a {
  border-left: 3px solid black;
  border-top-left-radius: 10px;
}
.panes_pie .pie_terms div :hover {
  background-color: #71C6D9;
  border-bottom-color: red;
}
.panes_pie .contacto {
  padding: 6px;
  margin: 10px 10px;
  background-color: #71C6D9;
  border-radius: 15px;
  font-weight: 1100px;
  box-shadow: 1px 1px 7px 1px #000000;
  border: 2px solid black;
  transition: 0.35s ease-in;
  font-size: 1.4rem;
}
.panes_pie .contacto:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid white;
  background-color: black;
  color: #71C6D9;
}
.panes_pie a {
  font-size: 1.4rem;
  background-color: #F67E3B;
  padding: 5px;
}
.panes_pie #btnEncuentranos {
  margin-bottom: 20px;
}

.btn_container {
  display: flex;
}

video {
  background-color: black;
  border-radius: 15px;
}

dialog {
  left: 27%;
  top: 10%;
  border-radius: 45px;
}

.btnDialog {
  text-align: center;
  width: auto;
  height: auto;
  background-color: rgb(217, 197, 197);
  padding: 5px 14px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 7px;
  margin: 10px;
  margin-left: 45%;
  transition: 0.6s ease-in-out;
}
.btnDialog:hover:hover {
  box-shadow: 2px 2px 3px #F67E3B, -2px 2px 3px #F67E3B;
  border: 2px solid red;
  background-color: black;
  color: white;
}

@media (width >= 1000px) {
  dialog img {
    width: 860px;
    left: 15%;
  }
}
@media (width < 1478px) {
  .panes_txt {
    max-height: 356px;
  }
  .bollos_head h1 {
    font-size: 2.7rem;
  }
}
@media (width < 1350px) {
  dialog {
    left: 30%;
    top: 25%;
  }
  dialog img {
    width: 460px;
  }
  .main_contenedor {
    grid-template-rows: auto;
    width: 100%;
  }
  .main_head {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    background-color: #F6B93B;
    margin: 25px 0px;
    height: fit-content;
    position: static;
    top: 0;
    margin: 0px;
  }
  .main_head h1 {
    padding-bottom: 10px;
    font-size: 3rem;
    text-shadow: 0 -2.5px #fff, -1px 2px #faf9f1;
    text-align: center;
  }
  .main_head .social {
    margin: 0px 5px;
  }
  .main_head .social img {
    max-width: 22px;
  }
  .main_head .logo img {
    border: 1px solid black;
    border-radius: 50%;
    max-width: 80px;
  }
  .main_head .idioma img {
    border: 1px solid black;
    border-radius: 50%;
    max-width: 60px;
    margin: auto 10px;
    transition: 0.25s ease-in-out;
  }
  .main_head .idioma:hover img {
    box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
  }
  .main_head .btn {
    text-align: center;
    width: auto;
    height: auto;
    background-color: #F67E3B;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 7px;
    transition: 0.25s ease-in-out;
  }
  .main_head .btn:hover {
    box-shadow: 2px 2px 3px rgb(25, 25, 25), -2px 2px 3px rgb(25, 25, 25);
  }
  .main_head h1 {
    font-size: 2.2rem;
  }
  .main_pie .pie_terms div:last-child a {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .main_pie .pie_terms div:first-child a {
    border-top-right-radius: 10px;
  }
  .main_pie {
    flex-direction: column;
  }
  .main_pie div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .main_pie div a {
    border: 2px solid black;
  }
  .main_pie .btn {
    transform: rotate(0deg);
    margin: 15px;
  }
  .main_pie .pie_terms {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .panes_txt {
    max-width: 220px;
    font-size: 15px;
    max-height: 290px;
  }
  .panes_txt h2 {
    font-size: 20px;
  }
  .panes_content .panes_presentacion {
    justify-content: space-evenly;
    height: 86vh;
  }
  .panes_content .panes_presentacion h1 {
    display: none;
  }
  .bollos_pie .btn {
    transform: rotate(0deg);
    margin: 15px;
  }
  .bollos_pie .pie_terms {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .bollos_pie .btn,
  .bollos_pie .contacto,
  .bollos_pie .pie_terms a {
    font-size: 16px;
    margin: 5px 0px;
  }
  .bollos_pie .pie_terms {
    min-width: 0;
  }
}
@media (width < 1200px) and (width > 650px) {
  .bollos_content .bollos_presentacion {
    height: 82vh;
  }
  .bollos_content .bollos_presentacion .bollos_presentacion_txt {
    margin-top: 50px;
  }
  .bollos_presentacion_img {
    position: relative;
  }
  .bollos_presentacion_img img {
    width: 350px;
  }
  .bollos_presentacion_txt {
    width: 250px;
    justify-content: start;
  }
  .panes_content .panes_presentacion {
    height: 24vh;
  }
  .panes_content .panes_presentacion .panes_presentacion_img img {
    max-width: 150px;
    max-height: 300px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img .pan_especial {
    max-width: 190px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img img:hover {
    max-width: 220px;
    max-height: 440px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img .pan_especial:hover {
    max-width: 320px;
  }
}
@media (width < 1100px) {
  .bollos_head {
    max-width: 1100px;
    padding: 15px 0px;
  }
  .bollos_head h1 {
    font-size: 2.2rem;
  }
  .bollos_head .btn {
    font-size: 1rem;
  }
  .bollos_head .idioma {
    display: none;
  }
  .bollos_head .logo img {
    max-width: 40px;
  }
  .bollos_head .social {
    flex-direction: column;
  }
  .bollos_head .social li img {
    max-width: 25px;
    margin-bottom: 5px;
  }
  .bollos_pie {
    flex-direction: column;
  }
  .panes_contenedor {
    grid-template-areas: "header header" "main main" "pie pie";
  }
  .panes_txt {
    grid-area: main;
    top: 41%;
    left: 70%;
  }
  .panes_pie {
    display: none;
  }
}
@media (width <= 915px) {
  .bollos_pie .btn,
  .bollos_pie .contacto,
  .bollos_pie .pie_terms a {
    font-size: 16px;
    margin: 5px 0px;
  }
  .bollos_pie .pie_terms {
    min-width: 0;
  }
  .bollos_content .bollos_presentacion {
    height: 81.75vh;
    width: 100vw;
    align-items: start;
  }
}
@media (width <= 800px) {
  /* Padding específico para Mozilla Firefox */
  @-moz-document url-prefix() {
    .main_pie {
      padding: 3.4rem 0px;
    }
  }
}
@media (width <= 650px) {
  dialog {
    left: 9%;
    top: 25%;
  }
  .main_contenedor {
    row-gap: 0px;
  }
  video {
    border-radius: 0px;
  }
  .main_content {
    border-radius: 0px;
  }
  footer .contacto_container .contacto {
    margin: 2px;
  }
  .panes_txt {
    top: 42%;
    left: 49%;
  }
  .bollos_head {
    max-width: 650px;
  }
  .bollos_head .social {
    flex-direction: column;
  }
  .bollos_head h1 {
    font-size: 1.8rem;
  }
  .bollos_head .btn_container {
    flex-direction: column;
  }
  .bollos_head .btn_container div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .bollos_presentacion {
    width: 96vw;
  }
  .bollos_presentacion .bollos_presentacion_img {
    position: relative;
  }
  .bollos_presentacion .bollos_presentacion_img img {
    width: 350px;
  }
  .bollos_presentacion .bollos_presentacion_txt {
    display: none;
    position: absolute;
  }
  .panes_content .panes_presentacion .panes_presentacion_img .pan_especial {
    max-width: 190px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img img {
    display: flex;
    margin-bottom: 5px;
    transform: none;
    transition: none;
    max-width: 167px;
    max-height: 315px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img img:hover {
    max-width: 167px;
    max-height: 315px;
  }
  .panes_content .panes_presentacion {
    flex-direction: row;
    justify-content: space-around;
    height: 87vh;
  }
  .panes_content .panes_presentacion h1 {
    display: none;
  }
  .panes_content .panes_presentacion .panes_presentacion_img .pan_especial:hover {
    max-width: 190px;
  }
}
@media (width <= 650px) and (width <= 400px) {
  .bollos_head {
    position: relative;
    margin-bottom: 70px;
  }
  .panes_content .panes_presentacion {
    margin-left: 66px;
  }
  .panes_txt {
    display: none;
    position: absolute;
  }
  .panes_content .panes_presentacion {
    height: 103vh;
  }
  .panes_content .panes_presentacion .panes_presentacion_img .pan_especial {
    margin-bottom: 25px;
  }
  .panes_content .panes_presentacion .panes_presentacion_img img {
    margin-bottom: 15px;
  }
  .bollos_content .bollos_presentacion {
    height: 96.75vh;
  }
  .bollos_head {
    max-width: 360px;
  }
  .bollos_presentacion .bollos_presentacion_img img {
    width: 250px;
  }
  .bollos_pie .pie_terms div:last-child a {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .bollos_pie .pie_terms div:first-child a {
    border-top-right-radius: 10px;
  }
  .bollos_pie {
    flex-direction: column;
    max-width: 360px;
  }
  .bollos_pie div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .bollos_pie div a {
    border: 2px solid black;
  }
  .bollos_pie .btn {
    transform: rotate(0deg);
  }
  .bollos_pie .pie_terms a {
    margin: 0px;
  }
  video {
    max-width: 360px;
  }
  .main_head {
    max-width: 360px;
  }
  .main_head h1 {
    font-size: 1.5rem;
  }
  .main_head .btn {
    font-size: 0.8rem;
  }
  .main_head .logo img {
    max-width: 45px;
  }
  .main_head .social {
    flex-direction: column;
  }
  .main_head .social li img {
    max-width: 25px;
    margin-bottom: 5px;
  }
  .main_head .btn_container {
    flex-direction: column;
  }
  .main_head .btn_container div {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .main_head .idioma img {
    max-width: 30px;
  }
  .main_pie {
    max-width: 360px;
    padding: 40px;
  }
  .main_pie .pie_terms a {
    max-width: 360px;
    margin-left: 130px;
  }
}

/*# sourceMappingURL=estilos.css.map */
