@use "./grid.scss" as g;
@use "./variables" as var;
@use "./mixinns" as mix;
@use "./header" as h;
@use "./footer" as f;
@use "./content_bolleria" as content_bollos;
@use "./content_panes" as content_panes;
@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Itim';
    list-style: none;

    a {
        text-decoration: none;
        color: black;

        &:visited {
            color: black;
        }
    }
}

//Modifica el comportamiento del scroll en todas las páginas
html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var.$background_web;
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/* :::::::::PAGINA DE INDEX::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.main_contenedor {
    @include g.mainGrid(80%);
}

.main_head {
    $font: 18px;
    @include h.head(space-around, $font, static, 0px);
}

.main_pie {
    $font: 1.2rem;
    @include f.pie(space-around, $font);
}

.main_content {
    grid-area: main;
    background-color: rgb(19, 18, 18);
    border-radius: 15px;
    box-shadow: var.$shadow_content;
    height: fit-content; //fuerza al background a ajustarse con el tamaño del video.
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/* :::::::::::::PAGINA DE BOLLERIA:::::::::::::::::::::::::::::::::::::::::::::::::: */
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

.bollos_contenedor {
    @include g.subGrid;
}

.bollos_head {
    $font: 1.4rem;
    @include h.head(space-around, $font, sticky, 7px);

    //además del header x defecto se modifica:
    z-index: 9999;
    margin-top: 0px;
    scroll-snap-align: start;

    h1 {
        font-size: 4rem;
    }

    .social {
        display: flex;
        justify-content: space-evenly;

        li {
            margin: 0px 10px;

            img {
                @include mix.imgRedonda(45px);
                border: 2px solid black;
                transition: 0.33s ease-out;

                &:hover {
                    @include mix.hoverShadow(none, blue, none);
                }
            }
        }
    }
}

.bollos_content {
    $h: 88vh;
    $marginBottom: 180px;
    @include content_bollos.contenido(wrap, $h, $marginBottom);

}

.bollos_pie {
    scroll-snap-align: end; //modifica el comportamiento del scroll
    $font: 1.4rem;
    @include f.pie(space-evenly, $font);
    position: sticky; //mantiene el footer en la pantalla en lugar de colocarlo al final de las fotos
    bottom: 0;

    #btnEncuentranos {
        margin-bottom: 20px;
    }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/* :::::::::::::PAGINA DE PANADERIA::::::::::::::::::::::::::::::::::::::::::::::::: */
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//utiliza exactamente el mismo header

.panes_contenedor {
    @include g.gridPanes;

}

.panes_content {
    @include content_panes.contenido;

}

.panes_txt {
    @include content_panes.contenidoTXT;
}

.panes_pie {
    $font: 1.4rem;
    @include f.pie(space-evenly, $font);
    position: sticky; //mantiene el footer en la pantalla en lugar de colocarlo al final de las fotos
    bottom: 0;

    #btnEncuentranos {
        margin-bottom: 20px;
    }
}


//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::ELEMENTOS ADICIONALES DEL SITIO WEB:::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

//envuelve los btns del header y footer (nuestra bolleria, panaderia, tlf, calle)
.btn_container {
    display: flex;
}

video {
    background-color: black;
    border-radius: 15px;
}

dialog {
    left: 27%;
    top: 10%;
    border-radius: 45px;
}

.btnDialog {
    @include mix.btn(rgb(217, 197, 197), 5px, 14px, 18px);
    margin: 10px;
    margin-left: 45%;
    transition: 0.6s ease-in-out;

    &:hover {
        @include mix.hoverShadow(white, red, black);
    }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA QUERIES:::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (width >=1000px) {
    dialog {
        img {
            width: 860px;
            left: 15%;
        }
    }
}

@media (width < 1478px) {
    .panes_txt {
        max-height: 356px;
    }

    .bollos_head {
        h1 {
            font-size: 2.7rem;
        }
    }

}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA < 1350 :::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


@media (width < 1350px) {

    dialog {
        left: 30%;
        top: 25%;

        img {
            width: 460px;
        }
    }

    .main_contenedor {
        grid-template-rows: auto;
        width: 100%;
    }

    .main_head {
        $font: 18px;
        @include h.head(space-around, $font, static, 25px);
        margin: 0px;
        h1 {
            font-size: 2.2rem;
        }
    }

    .main_pie .pie_terms div:last-child a {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .main_pie .pie_terms div:first-child a {
        border-top-right-radius: 10px;
    }

    .main_pie {
        flex-direction: column;

        div {
            //los terminos
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                border: 2px solid black;

            }
        }

        .btn {
            transform: rotate(0deg);
            margin: 15px;
        }

        .pie_terms {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .panes_txt {
        max-width: 220px;
        font-size: 15px;
        max-height: 290px;

        h2 {
            font-size: 20px;
        }
    }


    .panes_content {
        .panes_presentacion {
            justify-content: space-evenly;
            height: 86vh;

            h1 {
                display: none;
            }
        }
    }


    .bollos_pie {
        .btn {
            transform: rotate(0deg);
            margin: 15px;
        }

        .pie_terms {
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .bollos_pie {

        .btn,
        .contacto,
        .pie_terms a {
            font-size: 16px;
            margin: 5px 0px;
        }

        .pie_terms {
            min-width: 0;
        }
    }

}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA < 1200 && > 650:::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


@media (width < 1200px) and (width > 650px) {
    .bollos_content .bollos_presentacion {
        height: 82vh;

        .bollos_presentacion_txt {
            margin-top: 50px;
        }
    }

    .bollos_presentacion_img {
        position: relative;

        img {
            width: 350px;
        }
    }

    .bollos_presentacion_txt {
        width: 250px;
        justify-content: start;
    }

    .panes_content .panes_presentacion {
        height: 24vh;

        .panes_presentacion_img {
            img {
                max-width: 150px;
                max-height: 300px;
            }

            .pan_especial {
                max-width: 190px;
            }

            img:hover {
                max-width: 220px;
                max-height: 440px;
            }

            .pan_especial:hover {
                max-width: 320px;
            }
        }
    }


}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA < 1150 :::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (width < 1100px) {


    .bollos_head {
        max-width: 1100px;
        padding: 15px 0px;

        h1 {
            font-size: 2.2rem;
        }

        .btn {
            font-size: 1rem;
        }

        .idioma {
            display: none;
        }

        .logo img {
            max-width: 40px;
        }
    }

    .bollos_head .social {
            flex-direction: column;
        li img {
            max-width: 25px;
            margin-bottom: 5px;

        }
    }

    .bollos_pie {
        flex-direction: column;
    }


    //:::::::::::PANES:::::::::::::
    .panes_contenedor {

        grid-template-areas:
            "header header"
            "main main"
            "pie pie";

    }

    .panes_txt {
        grid-area: main;
        top: 41%;
        left: 70%
    }

    .panes_pie {
        display: none;
    }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA < 915 :::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (width <=915px) {


    .bollos_pie {

        .btn,
        .contacto,
        .pie_terms a {
            font-size: 16px;
            margin: 5px 0px;
        }

        .pie_terms {
            min-width: 0;

        }

    }

    .bollos_content .bollos_presentacion {
        height: 81.75vh;
        width: 100vw;
        align-items: start;
    }
}

@media (width <= 800px ){
    /* Padding específico para Mozilla Firefox */
  @-moz-document url-prefix() {
    .main_pie {
        padding: 3.4rem 0px;
    }
  }
}

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA < 650 :::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@media (width <=650px) {
    
    dialog {
        left: 9%;
        top: 25%;
    }

    .main_contenedor {
        row-gap: 0px;
    }

  
    video {
        border-radius: 0px;
    }
    .main_content {
        border-radius: 0px;
    }
    

    footer .contacto_container .contacto{
        margin: 2px;
    }

    .panes_txt {
        top: 42%;
        left: 49%;
    }

    .bollos_head {
        max-width: 650px;

        .social {
            flex-direction: column;
        }

        h1 {
            font-size: 1.8rem;
        }

        .btn_container {
            flex-direction: column;

            div {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }
    }


    .bollos_presentacion {
        width: 96vw;

        .bollos_presentacion_img {
            position: relative;

            img {
                width: 350px;
            }
        }

        .bollos_presentacion_txt {
            display: none;
            position: absolute;
        }
    }


    .panes_content .panes_presentacion .panes_presentacion_img {
        .pan_especial {
            max-width: 190px;
        }

        img {
            display: flex;
            margin-bottom: 5px;
            transform: none;
            transition: none;
            max-width: 167px;
            max-height: 315px;

            &:hover {
                max-width: 167px;
                max-height: 315px;
            }
        }

    }

    .panes_content {
        .panes_presentacion {
            flex-direction: row;
            justify-content: space-around;
            height: 87vh;

            h1 {
                display: none;
            }

            .panes_presentacion_img {
                .pan_especial:hover {
                    max-width: 190px;
                }
            }
        }
    }

//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::MEDIA <= 400 :::::::::::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@media (width <=400px) {
    .bollos_head {
        position: relative;
        margin-bottom: 70px;
    }
    .panes_content .panes_presentacion {
        margin-left: 66px;
    }
    .panes_txt {
        display: none;
        position: absolute;
    }
    .panes_content .panes_presentacion {
        height: 103vh;
    }
    .panes_content .panes_presentacion .panes_presentacion_img .pan_especial {
        margin-bottom: 25px;
    }
    .panes_content .panes_presentacion .panes_presentacion_img img {
        margin-bottom: 15px;
    }


    //bollos
    .bollos_content .bollos_presentacion {
        height: 96.75vh;
    }
    .bollos_head {
        max-width: 360px;
    }

    .bollos_presentacion .bollos_presentacion_img img {
        width: 250px;
    }

    .bollos_pie .pie_terms div:last-child a {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .bollos_pie .pie_terms div:first-child a {
        border-top-right-radius: 10px;
    }

    .bollos_pie {
        flex-direction: column;
        max-width: 360px;
        div {
            //los terminos
            display: flex;
            flex-direction: column;
            text-align: center;

            a {
                border: 2px solid black;

            }
        }

        .btn {
            transform: rotate(0deg);
        }

        .pie_terms a{
            margin: 0px;
        }
    }


    //home

     video {
        max-width:360px;
     }
    .main_head {
        max-width: 360px;

        h1{
            font-size: 1.5rem;
        }
        .btn {
            font-size: 0.8rem;
        }
        .logo img {
            max-width: 45px;
        }
        .social {
                flex-direction: column;
            li img {
                max-width: 25px;
                margin-bottom: 5px;
            }
            
        }
        .btn_container {
            flex-direction: column;

            div {
                margin-bottom: 5px;
                margin-top: 5px;
            }
        }
        
    }
    .main_head .idioma img {
        max-width: 30px;
    }
    .main_pie {
        max-width: 360px;
        padding: 40px;
    }
    .main_pie .pie_terms a {
        max-width: 360px;
        margin-left: 130px;
    }
}
}